.shared-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding-left: 12px;
}

mat-icon {
    padding-right: 8px;
}

span {
    text-overflow: ellipsis;
}
