<form id="task-form" class="dialog-container">
  <h2 *ngIf="data.type == 1">Create Dinner</h2>

  <mat-form-field appearance="fill" color="primary">
    <mat-label>Dinner Name</mat-label>
    <input matInput [formControl]="name" />
    <mat-error *ngIf="name.invalid">You must enter a value</mat-error>
  </mat-form-field>

  <mat-label>Please select eaters</mat-label>
  <!-- <mat-error *ngIf="member.invalid">You must pick a user</mat-error> -->
  <mat-button-toggle-group [(ngModel)]="data.dinner.members" id="colorSpec" name="colorSpec" aria-label="ColorWheel"
    multiple required="true" [formControl]="member">
    <mat-button-toggle 
      *ngFor="let user of userList | async as User" 
      [value]="user" 
      [checked]="user.joinedDinner"
    >
      <mat-icon [style.color]="user.color" color="primary" [style.border]="'grey'"> {{user.icon || "attribution"}} </mat-icon>
      <mat-label> {{user.Username}} </mat-label>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <div *ngIf="data.enableDelete" class="hint">Last Update: {{ data.dinner.lastUpdate?.seconds | date: 'yyyy/MM/dd h:mm a' }}</div>
  <div class="ordinary-top-bottom">
    <button mat-raised-button type="submit" color="primary" (click)="onSubmit()">
      Save
    </button>
  
    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="More options" color="primary">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" color="primary">
      <button mat-menu-item *ngIf="data.enableDelete" color="primary"
        [mat-dialog-close]="{ dinner: data.dinner, delete: true }">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </div>

</form>