<div id="task-form">

  <h2 *ngIf="data.type == DialogType.NEW">New Task</h2>

  <mat-form-field appearance="fill" color="primary">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.task.title" />
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="data.task.description"></textarea>
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <input matInput [(ngModel)]="data.task.type" />
  </mat-form-field>

  <mat-label>Urgency</mat-label>
  <mat-radio-group aria-label="Urgency" [(ngModel)]="data.task.urgency" color="primary">
    <mat-radio-button value="Low">Not Rush</mat-radio-button>
    <mat-radio-button value="Moderate">Moderate</mat-radio-button>
    <mat-radio-button value="High">Urgent!!</mat-radio-button>
  </mat-radio-group>

  <mat-label>Template Color</mat-label>
  <mat-button-toggle-group id="colorSpec" name="colorSpec" aria-label="ColorWheel" multiple>
    <mat-button-toggle *ngFor="let background of ColorWheel">
      <mat-icon [style.color]="background.color" [style.border]="'grey'" value="background.color">circle</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

</div>
    
<div *ngIf="data.task.lastUpdate">
    Last Update: {{ data.task.lastUpdate.seconds | date: 'yyyy/MM/dd h:mm a' }}
</div>

<div id="controls" mat-dialog-actions>
  
  <button
    *ngIf="data.enableDelete"
    mat-button 
    color="primary"
    [mat-dialog-close]="{ task: data.task, delete: true }">
    <mat-icon>delete</mat-icon>
    Delete
  </button>
  
  <button 
    id="confirm"
    mat-fab
    color="primary"
    [mat-dialog-close]="{ task: data.task }">
    <mat-icon>done</mat-icon>
  </button>
</div>