#task-form {
    display: flex;
    flex-direction: column;
    font-size: large;

    #close {
        margin-left: auto;
    }

    mat-form-field {
        width: 100%;
        // margin: 0.5em 0em 1.2em 0em;
        margin: 0;
    }
}

#controls {
    display: flex;

    #confirm {
        margin-left: auto;
    }
}