.ordinary-section {
    // padding: 12px 0px;
    padding-top: 12px;
    padding-right: 0px;
    padding-bottom: 12px;
    padding-left: 0px;
}

.ordinary-row {
    padding: 8px 4px;
}

.ordinary-top-bottom {
    padding: 8px 0px;
}

.left-small-space {
    padding-left: 16px;
}

.right-small-space {
    padding-right: 16px;
}

.dialog-container {
    // // display: flex;
    // // flex-direction: column;
    // // font-size: large;
    padding: 10px;
    // background-color: aqua;
}