<div class="content-wrapper">
    <div class="content-real">
        <div class="content">

            <div class="page-title-text ordinary-section" style="align-items: center;">
                Pick the Occasion
                <div *ngIf="!loadingData" style="padding-left: 10px;">
                    <mat-spinner [diameter]="30"></mat-spinner>
                </div>
            </div>
            
            <mat-form-field appearance="fill">
                <mat-label>Choose One ~</mat-label>
                <mat-select (valueChange)="SelectDinner($event)">

                    <mat-option *ngIf="!loadingData" [disabled]="true">Loading..</mat-option>

                    <mat-option *ngFor="let dinner of dinnerList | async as Dinner" [value]="dinner.id">
                        {{ dinner.name }}
                    </mat-option>

                    <mat-option (click)="NewDinner()">
                        <mat-icon>add</mat-icon> New Dinner
                    </mat-option>

                </mat-select>
            </mat-form-field>

            <div class="ordinary-section">
                <button mat-raised-button (click)="syncDinner()" color="primary">
                    Refresh <mat-icon>refresh</mat-icon>
                </button>
                <button mat-icon-button *ngIf="dinner" (click)="ViewDinner()" color="primary">
                    <mat-icon>info_outline</mat-icon>
                </button>
    
                <!-- <button (click)="testUpdateDinner()" mat-button color="primary">
                    test function <mat-icon>flag</mat-icon>
                </button> -->
    
                <button mat-button *ngIf="dinner" (click)="AddNewOrder_v2()" color="primary">
                    Add new order <mat-icon>add</mat-icon>
                </button>
            </div>

            <div class="order">
                <div class="order-section member-list">
                    <div *ngFor="let member of (dinner$|async)?.members" class="member">
                        <div>{{ member.Username }}</div>
                        <div>
                            <mat-icon color="primary">{{ member.icon }}</mat-icon>
                        </div>
                    </div>
                </div>

                <div class="order-section" *ngIf="dinner$|async as dinner">
                    <div *ngFor="let order of dinner.orders" class="order-group">
                        <mat-label> {{ order.name }} </mat-label>
                        <mat-label> $ {{ order.price }} </mat-label>

                        <div class="icon">
                            <div class="member" *ngFor="let member of order.sharedMember">
                                <mat-icon color="primary"> {{member.icon}} </mat-icon>
                                <mat-label>{{ member.Username }}</mat-label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-section" *ngIf="dinner$|async as dinner">
                    <div class="sum">
                        <div></div>
                        <div>$ {{dinner.totalSum}}</div>
                        <div></div>
                    </div>
                </div>
            </div>

            <!-- scribble starts here
            <div class="order-group">
                <div>one</div>
                <div>two</div>
                <div style="display: flex; flex-direction: row-reverse;">
                    <mat-icon color="primary">location_city</mat-icon>
                    <mat-icon>notifications</mat-icon>
                    <mat-icon>control_point_duplicate</mat-icon>
                    <mat-icon>location_searching</mat-icon>
                </div>
            </div> -->

        </div>



        <pre style="visibility: hidden;">Occasion: (dropdown to choose dinner)
    
    Members: (circles here)
    
    -----------------------------------
    show dishes details here + price            member icon
    
    
    -----------------------------------
                                                total price
    
                    (Button)  Generate Result
    -----------------------------------
                                    Paid
    member icon:            sum     (checkbox)
    member icon:            sum     (checkbox)
    member icon:            sum     (checkbox)
    ----------------------------
    3 Members               total sum
    </pre>

    </div>
</div>