<div class="content-wrapper">
    <div class="content-real">

        <div class="ordinary-section">
            <button mat-raised-button color="primary" (click)="syncDinner()">
                Refresh <mat-icon>refresh</mat-icon>
            </button>

            <button (click)="doTheTest()" mat-button>
                test function <mat-icon>flag</mat-icon>
            </button>

            <button (click)="AddNewDinner()" mat-button>
                Add new order <mat-icon>add</mat-icon>
            </button>
        </div>

        <!-- <button (click)="doTheTest()">test function</button><br><br><br> -->
        <!-- <button (click)="syncDinner()">Sync</button><br><br><br> -->
        <!-- <button (click)="AddNewDinner()">Add new order</button> -->

        <div *ngIf="!loadingData" class="Loading-Spinner">
            <mat-spinner></mat-spinner>
        </div>

        <div class="task-list-container">


            <div *ngFor="let dinner of dinnerList | async">
                <!-- Dinner: {{dinner.name}}, {{dinner.icon}} -->

                <shared-button
                [selected]="false"  
                [disabled]="false"
                [grid]="true"
                displayName= {{dinner.name}}
                leadingIcon="{{ dinner.icon ? dinner.icon : 'lens_blur' }}"
                [showSelectedIcon]="true"                
                ></shared-button>

                <div *ngFor="let order of dinner.orders">
                    <div>order.name</div>
                    <div *ngFor="let member of order.sharedMember">Member: {{member}} </div>
                </div>

            </div>
        </div>



        <pre>Occasion: (dropdown to choose dinner)
    
    Members: (circles here)
    
    -----------------------------------
    show dishes details here + price            member icon
    
    
    -----------------------------------
                                                total price
    
                    (Button)  Generate Result
    -----------------------------------
                                    Paid
    member icon:            sum     (checkbox)
    member icon:            sum     (checkbox)
    member icon:            sum     (checkbox)
    ----------------------------
    3 Members               total sum
    </pre>

    </div>
</div>