.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 4px 12px;
}

.page-title-text {
    font-family: 'Montserrat', 'Roboto', monospace;
    font-size: x-large;
    color: #4D362E;

    display: flex;
    flex-direction: row;
}

#dinner-option {
    mat-form-field {
        mat-form-field-wrapper {
            padding-bottom: 0px !important;
        }
    }
}

.order {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .order-section {
        min-height: 50px;
        width: 100%;
    }

    .member-list {
        display: flex;
        flex-direction: row;

        .member {
            padding: 0px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
        }
    }

    .order-group {
        display: grid;
        grid-template-columns: 4fr 2fr 2fr;

        padding: 8px 8px;
        // background-color: #f2f2f2;
        font-size: larger;

        .icon {
            display: flex;
            flex-direction: row;
            // justify-content: flex-end;

            .member {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: 10px;

                mat-icon {
                    max-height: 15px;
                    width: auto;
                    margin-bottom: 4px;
                }
            }
        }
    }

    .header {
        font-weight: 500;
        color: #795548;
        background-color: #7955481c;
    }

    .sum {
        padding: 8px 8px;
        border-top: solid 2px #795548;
        font-weight: 500;
        color: #795548;

        display: grid;
        grid-template-columns: 4fr 2fr 2fr;
        font-size: larger;
    }
}