<mat-card class="item" *ngIf="task" (dblclick)="edit.emit(task)" >
    
    <div class="heading">
        <app-type-bubble 
            [bubbleType]="BubbleType"
            [bubbleValue]="task.urgency"
        ></app-type-bubble>
    
        <h2>{{ task.title }}</h2>
    </div>

    <div>
        <p>{{ task.description }}</p>
    </div>

    <div>Last Update: <p> {{ task.lastUpdate?.toString() }} </p></div>

    <div>
        {{ task.type }} <!-- can use mat-chip to do this -->
    </div>

</mat-card>