:host {
    display: block;
}

.item {
    margin-bottom: 10px;
    cursor: pointer;
}

.heading {
    display: flex;
    flex-direction: row;
    margin-bottom: 6px;
    
    .title {
        font-family: "Helvetica Neue", Roboto, sans-serif;
        font-weight: 500;
        font-size: 18px;

        margin-bottom: 0px;
    }
}

.content {
    margin-left: 2px;
}