<mat-card class="item" *ngIf="task" (dblclick)="edit.emit(task)" >
    
    <div class="heading">
    
        
        <div class="supportings">
            <div class="title">{{ task.title }}</div>

            <div class="hori-space"></div>
    
            <div 
                *ngIf="task.type" 
                class="task-type"
                [style.background]="task.color || '#FFFFFF'"
                [style.color]="'#112A46'">
                {{ task.type }} <!-- can use mat-chip to do this -->
            </div>
            
            <app-type-bubble 
                [bubbleType]="BubbleType"
                [bubbleValue]="task.urgency"
            ></app-type-bubble>
        </div>
    </div>

    <div class="content">
        <div>
            <p>{{ task.description }}</p>
        </div>
    </div>

</mat-card>