<div id="app">
  <div id="top-banner">
    <mat-toolbar color="primary">
      <mat-icon>local_fire_department</mat-icon>
      <span>Kanban Fire - App component</span>
    </mat-toolbar>
  </div>
  <div id="main">

    <div id="nav">
        <div><button mat-button (click)="changeRoute()">Change route</button></div>
        <div><button mat-button (click)="logout()">Log Out</button></div>
    </div>

    <div class="main-content">
      <div id="content">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</div>