<div id="app">
  <div id="top-banner" (click)="sidenav.toggle()">
    <mat-toolbar color="primary">
      <mat-icon>pix</mat-icon>
      <span>Fin Note</span>
      <!-- browserName: {{browserName}} -->
      <div style="visibility: hidden;">
        loginStatus: {{loginStatus}}
        opened: {{opened}}
      </div>
    </mat-toolbar>
  </div>

  <div id="main">
    <mat-sidenav-container>

      <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <div id="nav">
          <div class="ordinary-section">
            <shared-button 
              *ngFor="let spec of buttonSpecList"
              [buttonSpec]="spec"
              [selected]="false"  
              [disabled]="false"
              leadingIcon="{{ spec.icon ? spec.icon : 'lens_blur' }}"
              [showSelectedIcon]="true"
              (ClickEvent)="changeRoute(spec)"
            ></shared-button>
          </div>
          
          <div id="nav-control">
            <button mat-button *ngIf="loginStatus" (click)="logout()">
              Log Out
              <mat-icon>logout</mat-icon>
            </button>
          </div>
        </div>
      </mat-sidenav>
      
      <mat-sidenav-content id="main-content">
        <div id="content">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>

    </mat-sidenav-container>

  </div>
</div>