<div id="app">
  <div id="top-banner">
    <mat-toolbar color="primary">
    <mat-icon>flight_takeoff</mat-icon>
    <span>Kanban Fire - App component</span>
    </mat-toolbar>
  </div>
  <div id="main">

    <div id="nav">
      <shared-button 
        *ngFor="let spec of buttonSpecList"
        [buttonSpec]="spec"
        [selected]="false"  
        [disabled]="false"
        leadingIcon="{{ spec.icon ? spec.icon : 'lens_blur' }}"
        [showSelectedIcon]="true"
        (ClickEvent)="changeRoute(spec)"
      ></shared-button>
      <div><button mat-button (click)="logout()">Log Out</button></div>
    </div>

    <div class="main-content">
      <div id="content">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</div>