<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav [mode]="mode.value">
        <div><button mat-button (click)="sidenav.toggle()">Toggle</button></div>
        <div>
            <mat-radio-group class="example-radio-group" [formControl]="mode">
                <label>Mode:</label>
                <!-- <div>
                <mat-radio-button value="over">Over</mat-radio-button>
                </div>
                <div>
                    <mat-radio-button value="side">Side</mat-radio-button>
                </div>
                <div>
                    <mat-radio-button value="push">Push</mat-radio-button>
                </div> -->

                <mat-radio-button value="over">Over</mat-radio-button>
                <mat-radio-button value="side">Side</mat-radio-button>
                <mat-radio-button value="push">Push</mat-radio-button>
            </mat-radio-group>
        </div>
    </mat-sidenav>

    <mat-sidenav-content name="side">
        <div><button mat-button (click)="sidenav.toggle()">Toggle</button></div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>