mat-sidenav-container {
    height: 100%;
    max-height: 90%;
    width: 100%;
}

mat-sidenav {
}

mat-sidenav-content {
    width: auto;
}

.example-radio-group {
    display: block;
    border: 1px solid #555;
    margin: 20px;
    padding: 10px;
}
